{% load widget_tweaks %}
{% include 'base.html' %}

<form class="login-form shadow-lg p-3 mb-5 bg-body rounded" method="POST" autocomplete="off">
    <div class="card">
        {% csrf_token %}
        {% render_field form.username placeholder="Username" class+="form-control"%}
        {% render_field form.password placeholder="Password" class+="form-control"%}
        <div class="button-group">
            <input type="submit" class="btn btn-outline-success" value="Log In">
            <input type="button" class="btn btn-outline-success" value="Register"
                   onclick="location.href='{% url 'register' %}'">
        </div>
    </div>
</form>

